.nav{
  background-color:  #333333;
  overflow: hidden;
  padding: 15px 180px 20px;
}
.navimg {
  float: left;
}

.navlist li{
padding: 15px;
float:right;
}

.navlist a {
  color: lightgrey;
  font-size: 12px;
  font-weight: bold;
}

.hero {
  background-color: #13a89e;
  color:white;
  text-align: center;
  padding: 20px;

}

.hero h1 {
  font-size: 60px;
  font-style: bold;
  font-weight: bolder;
  padding: 0px 140px;

}

.hero p {
  font-size: 30px;
  font-weight: lighter;
  padding: 10px 120px;
}
.btn {
  margin-bottom: 70px;
  font-size: 16px;
}
.one {
  font-weight: lighter;

}
.btn-two {

  font-weight: lighter;
  background-color: #333333;
  box-shadow: inset 1px 1px lightgrey;
}

.container-iconandimg {
  margin: 0px 5%;
  text-align: center;
}
.icon-section {
  text-align: center;
  color: #333333;
}

.fa {
  font-size: 60px;
}

.introheading {
  font-variant: small-caps;
  font-size: 30px;
  margin: 50px 0px 25px;
}
.iconheading {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 42px;
  }

  .icon-section a {
    text-decoration: underline;
    color: #13a89e;
    font-size: 14px;
  }

.img-section {
  text-align: center;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 42px;
}

.img-thumbnail {margin: 10px;}

.lastheading {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 42px;
  margin: 30px 0px;
  text-align: right;
  }
.final {
  margin: 40px 95px 0px 0px;
}

footer {
  background-color: black;
  overflow: hidden;
  text-align: center;
}
.footer{
  background-color: #333333;
  margin-bottom: 20px;
  padding: 0px 100px;
}

.footer a {
  text-decoration: none;
  color: lightgrey;
  font-size: 16px;
  font-weight: normal;
}

.footer .fa {
  font-size: 30px;
  color: lightgrey;
  padding: 30px 10px;
}
